apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: prod
  namespace: foxhole-quartermaster
spec:
  requestedFreight:
    - origin:
        kind: Warehouse
        name: web
      sources:
        stages:
          - demo
    - origin:
        kind: Warehouse
        name: scanner
      sources:
        stages:
          - demo
  promotionTemplate:
    spec:
      steps:
        - uses: argocd-update
          config:
            apps:
              - name: fq-prod
                namespace: argocd
                sources:
                  - repoURL: https://github.com/metroshica/foxhole-quartermaster.git
                    helm:
                      images:
                        - key: web.image.tag
                          value: ${{ imageFrom("docker.io/metroshica/foxhole-quartermaster", warehouse("web")).Tag }}
                        - key: scanner.image.tag
                          value: ${{ imageFrom("docker.io/metroshica/foxhole-quartermaster", warehouse("scanner")).Tag }}
